.topnav {
  color: #f1f1f1;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: default;
}
.topnav a:hover {
  background-color: rgba(0, 0, 0, 0.35);
  color: black;
}
.topnav a.active {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.MuiSvgIcon-root {
  font-size: 3rem !important;
  text-align: center !important;
}
.MuiListItemText-primary {
  font-size: 2rem !important;
  padding-top: 1px;
  padding-bottom: 5px;
}
.MuiListItemText-primary:hover {
  background: rgba(128, 128, 128, 0.33);
  border: 0px solid black;
  border-radius: 15px;
  color: white;
}
.MuiListItem-root {
  text-align: center !important;
}
.MuiGrid-container {
  /*! width: 100%; */
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.MuiGrid-container {
  /*! width: 100%; */
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

form.MuiBox-root {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 300px;
}

.MuiGrid-item {
  margin-left: 100px;
  box-sizing: border-box;
}
.MuiGrid-root {
  padding-left: 180px;
  margin-bottom: 50px;
}
.MuiCardMedia-img {
  object-fit: fill;
  /* style={{ background: rgba(27, 27, 119, 0.604) }} */
  background-color: rgba(189, 189, 208, 0.535);
}

#myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#contactDiv {
  width: 0% !important;
  padding-top: 100%;
}

#chi {
  height: 90vh;
  width: auto;
  border-radius: 0% 30%;
  border: 5px solid black;
  float: right;
}
#right {
  padding-top: 3%;
  padding-right: 5%;
}
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: -1;
  font-size: 20px;
}

.container ul {
  margin: 0;
  margin-top: 50px;
  list-style: none;
  position: relative;
  padding: 1px 475px;
  color: #fff;
  font-size: 21px;
}
.container ul:before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  border-left: 2px dashed #fff;
}
.container ul li {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 14px;
  border-radius: 6px;
  width: 825px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.container ul li:not(:first-child) {
  margin-top: 60px;
}
.container ul li > span {
  width: 2px;
  height: 100%;
  background: #fff;
  left: -30px;
  top: 0;
  position: absolute;
}
.container ul li > span:before,
.container ul li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  background: #86b7e7;
  left: -5px;
  top: 0;
}
.container ul li span:after {
  top: 100%;
}
.container ul li > div {
  margin-left: 10px;
}
.container div .title,
.container div .type {
  font-weight: 600;
  font-size: 25px;
}
.container div .info {
  font-weight: 300;
}
.container div > div {
  margin-top: 5px;
}
.container span.number {
  height: 100%;
}
.container span.number span {
  position: absolute;
  font-size: 15px;
  left: -70px;
  font-weight: bold;
}
.container span.number span:first-child {
  top: 0;
}
.container span.number span:last-child {
  top: 100%;
}
.work {
  color: white;
}

@media (min-width: 480px) and (max-width: 649px) {
  #chi {
    height: 40vh;
  }
  .container ul {
    margin: 0;
    margin-top: 275px;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #fff;
    font-size: 21px;
  }
  .MuiGrid-root {
    padding-left: 10px;
    margin-bottom: 50px;
  }
}

@media (min-width: 650px) and (max-width: 1024px) {
  #chi {
    height: 50vh;
  }
  .container ul {
    margin: 0;
    margin-top: 325px;
    list-style: none;
    position: relative;
    padding: 1px 100px;
    color: #fff;
    font-size: 21px;
  }
  .MuiGrid-root {
    padding-left: 50px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1025px) {
  #chi {
    height: 60vh;
  }
}
